<div class="talks">
  <br>
  <h2>talks</h2>
  {% if site.talks != blank %}
    <div class="table-responsive">
      <table class="table table-sm table-borderless">
        {% assign talks = site.talks | reverse %}
        {% for item in talks%}
          <tr>
            <td nowrap scope="row" style="width: 15%"><b>{{ item.date | date: '%b %d, %Y' }}</td>
            <td>
              {% if item.inline %}
                {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
              {% else %}
                <a class="talks-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  {% else %}
    <p>No talks so far...</p>
  {% endif %}
</div>
